* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Open Sans';
    font-size: 100%;
    background-color: rgb(174, 208, 145);
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid;
}

div.wrapper {
  width: 90vw;
  max-width: 900px;
  background-color: white;
  overflow: hidden;
  padding: 20px 20px;
  min-height: 90vh;
  margin: auto;
}

div.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.image-container {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  border: solid black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1000px) {
    body {
      font-size: 110%;
    }
    div.wrapper {
      width: 60vw;
      max-width: 900px;
      margin: auto;
      padding: 30px;
    }

    div.image-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 20px;
    }

    .image-container {
      height: 150px;
      width: 200px;
      display: flex;
      justify-content: center;
    }
}